@import "../../assets/stylesheets/import";

.meterWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 2 * 15px);
  margin: 2px auto 0;
  color: $white;
  font-size: 10px;
  opacity: 1;
  transition: opacity 500ms ease-out;

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    width: 100%;
    height: 1px;
    opacity: 0.2;
    background-color: $white;
  }
}

.meterWrapperHidden {
  @extend .meterWrapper;
  opacity: 0;
}

.bar {
  position: absolute;
  top: -1px;
  height: 1px;
  background-color: $white;
  transition: width 500ms ease-out;
}
