@import "../../assets/stylesheets/import";

.appWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
  background-color: $grey-light;
  -webkit-overflow-scrolling: touch;
}
